body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.maindiv {
    width: 100vw;
    height: 100vh;
    background-image: url(./banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    height: 600px;
    backdrop-filter: blur(10px);
    background: #1B201F;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #8C52FF;
    opacity: 0.7;
}

/* 
PÁGINA DE LOGIN */

.logo {
    width: 80px;
    margin-top: 15px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
}

.text {
    text-align: center;
    margin-bottom: 40px
}

.button-link {
    display: block;
    padding: 10px 20px;
    background-color: white;
    color: #1B201F;
    text-decoration: none;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    width: 5cap;
}

.button-link:hover {
    background-color: #8C52FF;
    color: white;
    text-decoration: none;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 70%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

/* PÁGINA PRINCIPAL */

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.back-arrow img {
    width: 30px;
    height: auto;
}

.back-arrow img:hover {
    color: white; 
}

.logo-main {
    width: 80px;
    height: 80px;
    margin-left: 90px;
}

.h1-main{
    margin: -58px 0px 30px 50px;
    font-size: 2em;
    color: white;
}

form {
    margin-top: 40px;
    padding-left: 15px;
}

.form-section {
    margin-bottom: 25px;
}

.form-section p {
    margin: 0 0 15px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.form-section label {
    display: inline;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #A6A6A6;
}

.form-section label:hover {
    background-color: #65DC59;
}

.form-section input[type="radio"] {
    display: none;
}

.form-section input[type="radio"]:checked + label {
    background-color: #65DC59;
    border-color: #65DC59;
}

.form-section input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 95%;
    box-sizing: border-box;
    margin: 50px 0px 0px 2px;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}

.flex-item:last-child {
    margin-right: 0;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-section label {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .form-section input[type="number"] {
        width: 100%;
    }

    .flex-container {
        flex-direction: column;
    } 

    .flex-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* TELA DE RESULTADO */

.conteudo {
    text-align: center;
    margin-top: 30%;
}

.titulo-resultado {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.result-box {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    width: 50%;
    font-weight: bold;
    margin-left: 90px;
    background-color: #8C52FF;
    border-radius: 15px;
}

/* 
Cores
#1B201F - preto
#8C52FF - roxo
#65DC59 - verde
#A6A6A6 - cinza */
